Repository ethereum-optimism/superchain-registry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/go-reviewers, @sbvegan, @ZakAyesh, @OPMattie

.github/CODEOWNERS:

# Default code-owner
* @ethereum-optimism/security-reviewers

# Code and script ownership

## Go
*.go @ethereum-optimism/go-reviewers
/go.work @ethereum-optimism/go-reviewers
/.golangci.yml @ethereum-optimism/go-reviewers
/validation @ethereum-optimism/go-reviewers
/superchain @ethereum-optimism/go-reviewers

## Solidity
*.sol @ethereum-optimism/security-reviewers

# Superchain configuration ownership
/superchain/configs @sbvegan @ZakAyesh @OPMattie
/superchain/extra @sbvegan @ZakAyesh @OPMattie
/superchain/implementations @ethereum-optimism/security-reviewers

fix CheckSecurityConfigs.s.sol
  scripts/CheckSecurityConfigs.s.sol
Owners: @ethereum-optimism/security-reviewers

add extra contribution guidance (#161)
  CONTRIBUTING.md
Owners: @ethereum-optimism/security-reviewers

chore: cleanup string handling
  .gitmodules
  scripts/CheckSecurityConfigs.s.sol
Owners: @ethereum-optimism/security-reviewers

scrape hardfork times in add-chain.sh
  scripts/add-chain.sh
Owners: @ethereum-optimism/security-reviewers

add tip in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @ethereum-optimism/security-reviewers

Add fault proof checks to `CheckSecurityConfigs` script
  README.md
  scripts/CheckSecurityConfigs.s.sol
  superchain/extra/addresses/addresses.json
  superchain/extra/addresses/sepolia/op.json
Owners: @ethereum-optimism/security-reviewers, @sbvegan, @ZakAyesh, @OPMattie

review
  README.md
  scripts/CheckSecurityConfigs.s.sol
  superchain/implementations/networks/sepolia.yaml
Owners: @ethereum-optimism/security-reviewers

fix: scrape hardfork times in `add-chain.sh` (#165)
  CONTRIBUTING.md
  scripts/add-chain.sh
Owners: @ethereum-optimism/security-reviewers

check superchain level on package init
  superchain/init.go
Owners: @ethereum-optimism/go-reviewers

rename Type to SuperchainLevel
  superchain/init.go
  superchain/superchain.go
  validation/utils_test.go
Owners: @ethereum-optimism/go-reviewers

rename symbol
  superchain/init.go
Owners: @ethereum-optimism/go-reviewers
