Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-09, with the labels that each got.

#489 [ Feature Branch ] Genesis allocs validation
  .circleci/config.yml
  .circleci/continue_config.yml
  .env.example
  add-chain/e2e_test.go
  add-chain/flags/flags.go
  add-chain/go.mod
  add-chain/main.go
  add-chain/testdata/.env.test
  add-chain/testdata/monorepo/deploy-config/sepolia.json
  bindings/rust-bindings/etc/configs.toml
  go.work
  justfile
  validation/.gitignore
  validation/common/common.go
  validation/genesis-allocs_test.go
  validation/genesis/commands.go
  validation/genesis/config.patch
  validation/genesis/foundry-config.patch
  validation/genesis/genesis-allocs_test.go
  validation/genesis/genesis.go
  validation/genesis/monorepo-outputs.sh
  validation/genesis/utils.go
  validation/genesis/validation-inputs/1135/deploy-config.json
  validation/genesis/validation-inputs/1135/meta.toml
  validation/genesis/validation-inputs/1750/deploy-config.json
  validation/genesis/validation-inputs/1750/meta.toml
  validation/genesis/validation-inputs/34443/deploy-config.json
  validation/genesis/validation-inputs/34443/meta.toml
  validation/genesis/validation-inputs/4202/deploy-config.json
  validation/genesis/validation-inputs/4202/meta.toml
  validation/genesis/validation-inputs/480/deploy-config.json
  validation/genesis/validation-inputs/480/meta.toml
  validation/genesis/validation-inputs/4801/deploy-config.json
  validation/genesis/validation-inputs/4801/meta.toml
  validation/genesis/validation-inputs/7777777/deploy-config.json
  validation/genesis/validation-inputs/7777777/meta.toml
  validation/genesis/validation-inputs/8453/deploy-config.json
  validation/genesis/validation-inputs/8453/meta.toml
  validation/genesis/validation-inputs/84532/deploy-config.json
  validation/genesis/validation-inputs/84532/meta.toml
  validation/genesis/validation-inputs/generate-test-config.sh
  validation/promotion_test.go
  validation/utils_test.go
  validation/validation_test.go
Labels: F-do-not-merge, A-validation

#540 Adds validation metadata for chain with id 9897 (arena-z / nod)
  validation/genesis/commands.go
  validation/genesis/genesis-allocs_test.go
  validation/genesis/monorepo-outputs.sh
  validation/genesis/validation-inputs/9897/deploy-config.json
  validation/genesis/validation-inputs/9897/meta.toml
Labels: F-do-not-merge, A-validation

#543 Modify validation data for Lisk
  validation/genesis/genesis-allocs_test.go
  validation/genesis/monorepo-outputs.sh
  validation/genesis/validation-inputs/1135/deploy-config.json
  validation/genesis/validation-inputs/generate-test-config.sh
Labels: F-do-not-merge, A-validation

#545 feat: Json Configs
  superchain/configs/configs.json
  superchain/configs/configs.toml
  superchain/internal/codegen/main.go
Labels: A-superchain, K-chore

#596 feat: add World Chain Sepolia Testnet to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/worldchainsepolia.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x26e9cbc650c0b8538da9d6507ac0ee1f43bf6c46178c009d415334a1bd8059a4.bin.gz
  superchain/extra/bytecodes/0x2f8c5979f784926dd1f0000aecc886155fe55468ee246fd5bb8816450cf55233.bin.gz
  superchain/extra/bytecodes/0x557c8e14d33f7cd67cad0141e1a49ebf3488a447fc3df7aa66b127778a0383d1.bin.gz
  superchain/extra/bytecodes/0xdb4cef6c62b3279928f914c3883e2bacd76d840260026f9a309e1e7df53f9acf.bin.gz
  superchain/extra/genesis/sepolia/worldchainsepolia.json.gz
  validation/genesis/validation-inputs/4801/deploy-config.json
  validation/genesis/validation-inputs/4801/meta.toml
Labels: M-new-chain-request

#598 feat: add World Chain to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/worldchainmainnet.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x2da9c760d905d72a096e3ccae1001dd95da2089b70d04c0dace572bb6c35058e.bin.gz
  superchain/extra/bytecodes/0x45dd68d6a87380213d5c60efda3fbbbeda9f31d147a82028e062bec058c29e53.bin.gz
  superchain/extra/bytecodes/0x7a51137cba48b071695b0f9f0e7e8005eb95538f42d3fcd91e9960ccc11c3f34.bin.gz
  superchain/extra/genesis/mainnet/worldchainmainnet.json.gz
  validation/genesis/validation-inputs/480/deploy-config.json
  validation/genesis/validation-inputs/480/meta.toml
Labels: M-new-chain-request

#502 Add Lisk Mainnet to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/lisk.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x9541cf433b875e417e7ea0780e56de353d6379a5e44c9bbe7feb37d4b935b7c2.bin.gz
  superchain/extra/bytecodes/0x9ea11bb101449e678180593a4935202fac6a932effc6e3ae28b4f9683b38d469.bin.gz
  superchain/extra/bytecodes/0xdb46c3075511b7a4bbe03b5f0fecbab06daeab5263685f5b5976795126693681.bin.gz
  superchain/extra/bytecodes/0xf35fe602ba2a3b96f2e27ff7c8b8010800a8d0d616a5fb1f902e087b590355f3.bin.gz
  superchain/extra/genesis/mainnet/lisk.json.gz
Labels: M-new-chain-request

#506 Add Lisk Sepolia to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/lisk.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x201bcc24ab6d4794cf5541df1c60a1c69a7fb41983e741af191ac359b14fc0bd.bin.gz
  superchain/extra/bytecodes/0x23e5bfe4c08e51a3843b99263331d840d2ebf572da0c26dcbdb136e3a2f4e5da.bin.gz
  superchain/extra/bytecodes/0x500de9f31550615d518dd958ff44761e7838402d216d1fbd460827161ce7492e.bin.gz
  superchain/extra/bytecodes/0x96435d55c649991c139885a22e9e51284b9e376fb6aa6375edb82f4840823b5e.bin.gz
  superchain/extra/bytecodes/0x972b092fc1d78f209bd2eb3d280ce3631acbdc639b6780ec0db92f357ff07dc7.bin.gz
  superchain/extra/bytecodes/0xefb5da480590ed307719bdc79ac88950271044beda2df3b0d4db9c739e9c1d58.bin.gz
  superchain/extra/genesis/sepolia/lisk.json.gz
Labels: M-new-chain-request

#566 Add Ethernity Mainnet
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/ethernity.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x1bba80ac25cf177d9b51c7e98c6e3a8edbaa19dd15e2789f96600427508dfb85.bin.gz
  superchain/extra/bytecodes/0x3f50799cd87044a86e3db7777ca37e72a6835ed5a04e6bf96bd87ed2d7a18f6e.bin.gz
  superchain/extra/bytecodes/0x440f701c59e5ff7bf64bf3ffdca549de484fe9248431c72b8bb0062a6b1f742a.bin.gz
  superchain/extra/bytecodes/0x8bb0a20bb7d9550005e0ef49295439d5fad154f0d4414317d2a1c2d16b553786.bin.gz
  superchain/extra/bytecodes/0xe09dd4f81cbd30372a36323002715758ca6c6fe5056649d05c7bf89a37272216.bin.gz
  superchain/extra/genesis/mainnet/ethernity.json.gz
  validation/genesis/validation-inputs/183/deploy-config.json
  validation/genesis/validation-inputs/183/meta.toml
Labels: M-new-chain-request

#595 feat: add Shape Sepolia Testnet to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/shape.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x0d088cb461b57a145f8104ec0f1a73db85424140ad2dc70d6e7956f9932967fa.bin.gz
  superchain/extra/bytecodes/0x562f6133fb94334050a84e4c6e29fb7dae1108b7097cf1aec28445945772fe7d.bin.gz
  superchain/extra/bytecodes/0x8618b0109b37ea3d676636f88f1f8551fc414ff8ef514d7395c0bd62d08d2927.bin.gz
  superchain/extra/genesis/sepolia/shape.json.gz
  validation/genesis/validation-inputs/11011/deploy-config.json
  validation/genesis/validation-inputs/11011/meta.toml
Labels: M-new-chain-request

#597 feat: add Shape to the Superchain Registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/shape.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x09743ac1cd9c7911ab01f96f4776ca4e16d8785d52fd1e3f34d86c105f0d38d7.bin.gz
  superchain/extra/bytecodes/0x4fcf847b95b5a67750663b11735863e66265e6f699f3a1fc4f32da308cc32116.bin.gz
  superchain/extra/bytecodes/0xf88e3cdac69f413e0715aee6eb1a0795adfb850b68343c247889158af7bbf0a1.bin.gz
  superchain/extra/genesis/mainnet/shape.json.gz
  validation/genesis/validation-inputs/360/deploy-config.json
  validation/genesis/validation-inputs/360/meta.toml
Labels: M-new-chain-request
