Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-08, with the labels that each got.

#424 fix(bindings): Max RLP Bytes Per Channel
  bindings/rust-primitives/src/rollup_config.rs
Labels: A-bindings, K-feat

#431 fix(codegen): Order by Name
  superchain/internal/codegen/main.go
Labels: A-superchain, K-fix

#442 binary mainnet addition to Superchain
  bindings/rust-bindings/etc/chainList.toml
  bindings/rust-bindings/etc/configs.toml
  chainList.json
  chainList.toml
  superchain/configs/mainnet/tbn.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x0b1c8619162c9fcc9ee48488011c546f295fbacaa677db008227cc66d9053335.bin.gz
  superchain/extra/bytecodes/0x0bad6bfeed37a7cd68a40a3828d2f53e1ee6af46ec5192d9d424f0f7d875da44.bin.gz
  superchain/extra/bytecodes/0x283c9d14378f5f4c4e24045b87d621d48443fa5b4af7dd7180a599b3756a7689.bin.gz
  superchain/extra/bytecodes/0x41b1e8eed49eeacf2850efefa0bb34a2235558ea80bb5d01d19cbe4db2b5fdaa.bin.gz
  superchain/extra/bytecodes/0x488611542096acd0cb79d3496a0a1da6cf54c6ee48c5a771c8ab94b9bd72319e.bin.gz
  superchain/extra/bytecodes/0x7c338879a496e1f33c017350024672e7c9fd67721a32ac80e8860f3e5420928d.bin.gz
  superchain/extra/bytecodes/0x8db5ff695839d655407cc8490bb7a5d82337a86a6b39c3f0258aa6c3b582fc58.bin.gz
  superchain/extra/bytecodes/0xab18fb29a7e0adc37c4684e2daeeb8a4f4f0a5d56c481cdd1a4ec678ab243acb.bin.gz
  superchain/extra/bytecodes/0xb5144b836935cc7603f53dff635872fc24b8951add9144e4f29b09583e3673de.bin.gz
  superchain/extra/bytecodes/0xd34fe9e30d88d33b861d870ec6bf48a4b79f59f71143c10b9a2e2e2f98063afe.bin.gz
  superchain/extra/genesis/mainnet/tbn.json.gz
Labels: M-new-chain-request

#460 feat(docs): Binding Documentation
  README.md
  docs/bindings.md
Labels: M-documentation, A-bindings, K-feat

#440 feat(bindings): Granite and Holocene Hardfork Support
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
  bindings/rust-primitives/src/chain_config.rs
  bindings/rust-primitives/src/rollup_config.rs
  bindings/rust-primitives/src/system_config.rs
Labels: A-bindings

#462 fix(bindings): Rust Crate Release Workflow
  .github/workflows/release.yml
Labels: A-bindings

#463 fix(bindings): No Release Confirmation Prompt
  bindings/rust-bindings/justfile
  bindings/rust-primitives/justfile
Labels: A-bindings, M-rust, K-fix

#473 chore(bindings): Superchain Registry Docs
  bindings/rust-bindings/README.md
Labels: M-documentation, A-bindings, K-chore

#472 chore(bindings): Superchain Primitives Docs
  bindings/rust-primitives/README.md
Labels: M-documentation, A-bindings, K-chore

#500 chore(bindings): Release Primitives 0.2.2
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
Labels: A-bindings, M-rust, M-hardfork, K-chore

#512 fix(bindings): Disable Default Features in superchain dep
  .github/workflows/release.yml
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/src/lib.rs
  bindings/rust-primitives/src/lib.rs
  bindings/superchain/Cargo.lock
  bindings/superchain/Cargo.toml
  justfile
Labels: A-bindings, M-rust, K-fix

#531 Add validation metadata for Lisk mainnet + testnet
  .circleci/config.yml
  superchain/configs/mainnet/lisk.toml
  superchain/configs/sepolia/lisk.toml
  superchain/extra/bytecodes/0x201bcc24ab6d4794cf5541df1c60a1c69a7fb41983e741af191ac359b14fc0bd.bin.gz
  superchain/extra/bytecodes/0x23e5bfe4c08e51a3843b99263331d840d2ebf572da0c26dcbdb136e3a2f4e5da.bin.gz
  superchain/extra/bytecodes/0x500de9f31550615d518dd958ff44761e7838402d216d1fbd460827161ce7492e.bin.gz
  superchain/extra/bytecodes/0x9541cf433b875e417e7ea0780e56de353d6379a5e44c9bbe7feb37d4b935b7c2.bin.gz
  superchain/extra/bytecodes/0x96435d55c649991c139885a22e9e51284b9e376fb6aa6375edb82f4840823b5e.bin.gz
  superchain/extra/bytecodes/0x972b092fc1d78f209bd2eb3d280ce3631acbdc639b6780ec0db92f357ff07dc7.bin.gz
  superchain/extra/bytecodes/0x9ea11bb101449e678180593a4935202fac6a932effc6e3ae28b4f9683b38d469.bin.gz
  superchain/extra/bytecodes/0xdb46c3075511b7a4bbe03b5f0fecbab06daeab5263685f5b5976795126693681.bin.gz
  superchain/extra/bytecodes/0xefb5da480590ed307719bdc79ac88950271044beda2df3b0d4db9c739e9c1d58.bin.gz
  superchain/extra/bytecodes/0xf35fe602ba2a3b96f2e27ff7c8b8010800a8d0d616a5fb1f902e087b590355f3.bin.gz
  superchain/extra/genesis/mainnet/lisk.json.gz
  superchain/extra/genesis/sepolia/lisk.json.gz
  validation/genesis/validation-inputs/1135/deploy-config.json
  validation/genesis/validation-inputs/1135/meta.toml
  validation/genesis/validation-inputs/4202/deploy-config.json
  validation/genesis/validation-inputs/4202/meta.toml
Labels: A-validation

#530 add base and base sepolia to genesis validation list
  .circleci/config.yml
  superchain/configs/mainnet/lisk.toml
  superchain/configs/sepolia/lisk.toml
  superchain/extra/bytecodes/0x201bcc24ab6d4794cf5541df1c60a1c69a7fb41983e741af191ac359b14fc0bd.bin.gz
  superchain/extra/bytecodes/0x23e5bfe4c08e51a3843b99263331d840d2ebf572da0c26dcbdb136e3a2f4e5da.bin.gz
  superchain/extra/bytecodes/0x500de9f31550615d518dd958ff44761e7838402d216d1fbd460827161ce7492e.bin.gz
  superchain/extra/bytecodes/0x9541cf433b875e417e7ea0780e56de353d6379a5e44c9bbe7feb37d4b935b7c2.bin.gz
  superchain/extra/bytecodes/0x96435d55c649991c139885a22e9e51284b9e376fb6aa6375edb82f4840823b5e.bin.gz
  superchain/extra/bytecodes/0x972b092fc1d78f209bd2eb3d280ce3631acbdc639b6780ec0db92f357ff07dc7.bin.gz
  superchain/extra/bytecodes/0x9ea11bb101449e678180593a4935202fac6a932effc6e3ae28b4f9683b38d469.bin.gz
  superchain/extra/bytecodes/0xdb46c3075511b7a4bbe03b5f0fecbab06daeab5263685f5b5976795126693681.bin.gz
  superchain/extra/bytecodes/0xefb5da480590ed307719bdc79ac88950271044beda2df3b0d4db9c739e9c1d58.bin.gz
  superchain/extra/bytecodes/0xf35fe602ba2a3b96f2e27ff7c8b8010800a8d0d616a5fb1f902e087b590355f3.bin.gz
  superchain/extra/genesis/mainnet/lisk.json.gz
  superchain/extra/genesis/sepolia/lisk.json.gz
  validation/genesis/validation-inputs/1135/deploy-config.json
  validation/genesis/validation-inputs/1135/meta.toml
  validation/genesis/validation-inputs/4202/deploy-config.json
  validation/genesis/validation-inputs/4202/meta.toml
  validation/genesis/validation-inputs/8453/deploy-config.json
  validation/genesis/validation-inputs/8453/meta.toml
  validation/genesis/validation-inputs/84532/deploy-config.json
  validation/genesis/validation-inputs/84532/meta.toml
Labels: A-validation

#529 Get genesis validation checks to run on CI
  .circleci/config.yml
  justfile
  superchain/configs/mainnet/lisk.toml
  superchain/configs/sepolia/lisk.toml
  superchain/extra/bytecodes/0x201bcc24ab6d4794cf5541df1c60a1c69a7fb41983e741af191ac359b14fc0bd.bin.gz
  superchain/extra/bytecodes/0x23e5bfe4c08e51a3843b99263331d840d2ebf572da0c26dcbdb136e3a2f4e5da.bin.gz
  superchain/extra/bytecodes/0x500de9f31550615d518dd958ff44761e7838402d216d1fbd460827161ce7492e.bin.gz
  superchain/extra/bytecodes/0x9541cf433b875e417e7ea0780e56de353d6379a5e44c9bbe7feb37d4b935b7c2.bin.gz
  superchain/extra/bytecodes/0x96435d55c649991c139885a22e9e51284b9e376fb6aa6375edb82f4840823b5e.bin.gz
  superchain/extra/bytecodes/0x972b092fc1d78f209bd2eb3d280ce3631acbdc639b6780ec0db92f357ff07dc7.bin.gz
  superchain/extra/bytecodes/0x9ea11bb101449e678180593a4935202fac6a932effc6e3ae28b4f9683b38d469.bin.gz
  superchain/extra/bytecodes/0xdb46c3075511b7a4bbe03b5f0fecbab06daeab5263685f5b5976795126693681.bin.gz
  superchain/extra/bytecodes/0xefb5da480590ed307719bdc79ac88950271044beda2df3b0d4db9c739e9c1d58.bin.gz
  superchain/extra/bytecodes/0xf35fe602ba2a3b96f2e27ff7c8b8010800a8d0d616a5fb1f902e087b590355f3.bin.gz
  superchain/extra/genesis/mainnet/lisk.json.gz
  superchain/extra/genesis/sepolia/lisk.json.gz
  validation/.gitignore
  validation/genesis/genesis-predeploy_test.go
  validation/genesis/genesis.go
  validation/genesis/monorepo-outputs.sh
  validation/genesis/validation-inputs/1135/deploy-config.json
  validation/genesis/validation-inputs/1135/meta.toml
  validation/genesis/validation-inputs/4202/deploy-config.json
  validation/genesis/validation-inputs/4202/meta.toml
  validation/genesis/validation-inputs/8453/deploy-config.json
  validation/genesis/validation-inputs/8453/meta.toml
  validation/genesis/validation-inputs/84532/deploy-config.json
  validation/genesis/validation-inputs/84532/meta.toml
Labels: A-validation

#534 use dynamic config building in CI
  .circleci/config.yml
  .circleci/continue_config.yml
  validation/genesis/validation-inputs/generate-test-config.sh
Labels: A-validation
