Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-07, with the labels that each got.

#394 fix(bindings): Parse TOML Chain Configs
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/src/embed.rs
  bindings/rust-bindings/src/init.rs
  bindings/rust-bindings/src/lib.rs
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
  bindings/rust-primitives/src/chain_config.rs
  bindings/rust-primitives/src/genesis.rs
  bindings/rust-primitives/src/lib.rs
  bindings/rust-primitives/src/rollup_config.rs
  bindings/rust-primitives/src/system_config.rs
Labels: A-bindings

#377 feat(superchain): Aggregated Chain Configs
  superchain/configs/configs.toml
  superchain/internal/codegen/main.go
Labels: A-superchain

#278 feat(primitives): Expose Chain ID to RollupConfig Map
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/README.md
  bindings/rust-bindings/src/chain_list.rs
  bindings/rust-bindings/src/init.rs
  bindings/rust-bindings/src/lib.rs
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
  bindings/rust-primitives/src/addresses.rs
  bindings/rust-primitives/src/chain_config.rs
  bindings/rust-primitives/src/lib.rs
  bindings/rust-primitives/src/rollup_config.rs
Labels: A-bindings, M-rust, K-feat

#396 feat(ci): Rust CircleCI Checks
  .circleci/config.yml
  .github/workflows/release.yml
  .github/workflows/rust-checks.yml
  justfile
Labels: M-rust, K-feat, A-ci

#407 chore(bindings): General Rust Cleanup
  bindings/rust-bindings/src/lib.rs
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/src/addresses.rs
  bindings/rust-primitives/src/chain_config.rs
  bindings/rust-primitives/src/contracts.rs
  bindings/rust-primitives/src/genesis.rs
  bindings/rust-primitives/src/lib.rs
Labels: A-bindings, M-rust

#408 feat: Hydrated Superchain configs.toml
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/src/rollup_config.rs
  justfile
  superchain/configs/configs.toml
  superchain/init.go
  superchain/internal/codegen/main.go
Labels: A-bindings, M-rust, A-superchain, K-feat

#402 Adding RACE Testnet for superchain-registry
  chainList.json
  chainList.toml
  superchain/configs/configs.toml
  superchain/configs/sepolia/race.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x22e308afcec9b18c92e99fb17452b3d6dd91e1bcc12d4d1452d2299c5f0a3a77.bin.gz
  superchain/extra/bytecodes/0x3f5ec6b10ec3d60b3a840f6eb476ded32bbfc5dd68c12daccbbc775a2b93a10c.bin.gz
  superchain/extra/bytecodes/0x4070f3453da6e53fb69d2da90e11cf71c951aee11acd05c23b99c0d2e7c091fb.bin.gz
  superchain/extra/bytecodes/0x42445b64a8d77112861bb6bd662969b8efc3f9c16e122d33621ba62c8a30a9e9.bin.gz
  superchain/extra/bytecodes/0xa244fb849db120cb163c4d8ec33ba0fd1e3edcdf78f85a5ff47f46964653e598.bin.gz
  superchain/extra/bytecodes/0xa88fa50a2745b15e6794247614b5298483070661adacb8d32d716434ed24c6b2.bin.gz
  superchain/extra/bytecodes/0xbd4700632628e337f9c6fbb3f7bdf1b69fd180ac07c667c9dceb9fbc740b0adc.bin.gz
  superchain/extra/bytecodes/0xcada2e2d8959f6d6d8727dd349372e2e6fd465e6349641dd710764d9597ecfe1.bin.gz
  superchain/extra/bytecodes/0xff637bd4f4ac0d4af3e94d9eb7643e2d6223b505459b7d99d9154b3e37b37673.bin.gz
  superchain/extra/genesis/sepolia/race.json.gz
Labels: M-new-chain-request

#412 fix(bindings): Repair Releases
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/README.md
  bindings/rust-bindings/build.rs
  bindings/rust-bindings/etc/chainList.toml
  bindings/rust-bindings/etc/configs.toml
  bindings/rust-bindings/justfile
  bindings/rust-bindings/src/lib.rs
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
  bindings/rust-primitives/justfile
  bindings/rust-primitives/src/fee_params.rs
  bindings/rust-primitives/src/lib.rs
  bindings/rust-primitives/src/rollup_config.rs
  bindings/rust-primitives/src/superchain.rs
  superchain/internal/codegen/main.go
Labels: A-bindings, M-rust, A-superchain, K-fix

#416 chore: Release SCR Bindings
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-bindings/README.md
  bindings/rust-bindings/justfile
  bindings/rust-bindings/src/superchain.rs
  bindings/rust-primitives/README.md
  bindings/rust-primitives/justfile
Labels: A-bindings, K-chore

#403 Adding RACE Mainnet for superchain-registry
  bindings/rust-bindings/etc/chainList.toml
  bindings/rust-bindings/etc/configs.toml
  chainList.json
  chainList.toml
  superchain/configs/mainnet/race.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x012264d0f0b7503015afcc33ba0395edd62ebfc7131a02c1b9d8f8ff83b1f5ad.bin.gz
  superchain/extra/bytecodes/0x0b7790a4a3c26ddf968518a1a55051ee40417f43829980d9d50663d53f7fc082.bin.gz
  superchain/extra/bytecodes/0x3717ab701c66ebe82811f2feb9b502a3101b719bb62cf022f3daa9feb40e78cc.bin.gz
  superchain/extra/bytecodes/0x5677721a5533f868e8813140e3b2c5a6c8c4cc3489229bd3738d6f46dcc1fe81.bin.gz
  superchain/extra/genesis/mainnet/race.json.gz
Labels: M-new-chain-request

#401 feat(ci): Crate Release
  .github/workflows/release.yml
  justfile
Labels: M-rust, K-feat, A-ci
