Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-06, with the labels that each got.

#296 chore(fjord): fjord + tests
  bindings/rust-primitives/src/rollup_config.rs
Labels: A-bindings, M-rust, M-hardfork, K-feat

#307 chore: Basic RollupConfig Map
  bindings/rust-primitives/src/rollup_config.rs
Labels: A-bindings, K-fix

#308 chore(bindings): Version Alloy Dependencies
  bindings/rust-bindings/Cargo.lock
  bindings/rust-bindings/Cargo.toml
  bindings/rust-primitives/Cargo.lock
  bindings/rust-primitives/Cargo.toml
  bindings/rust-primitives/src/system_config.rs
Labels: K-dependencies, A-bindings, M-rust

#311 fix(bindings): Base sepolia elasticity multiplier
  bindings/rust-primitives/src/lib.rs
  bindings/rust-primitives/src/rollup_config.rs
Labels: A-bindings, M-rust, K-fix

#309 feat(bindings): Release PLZ
  .github/workflows/release.yml
Labels: A-bindings, M-rust, K-feat

#314 chore(bindings): Small Style Fix
  bindings/rust-primitives/src/chain_config.rs
Labels: A-bindings, M-rust, K-fix

#315 fix: Rust Release
  .github/CODEOWNERS
  .github/workflows/release.yml
Labels: A-bindings, M-rust

#318 chore: test release plz workflow
  bindings/rust-primitives/src/system_config.rs
Labels: A-bindings, M-rust

#321 fix: release-plz Github Action
  .github/workflows/release.yml
Labels: A-bindings, M-rust, K-fix

#322 chore: Test Release PLZ Workflow
  bindings/rust-primitives/src/contracts.rs
Labels: A-bindings, M-rust

#324 fix: Release PLZ Fix
  .github/workflows/release.yml
Labels: A-bindings, M-rust, K-fix

#325 fix: Test Release PLZ Again
  bindings/rust-bindings/src/init.rs
Labels: A-bindings, M-rust, K-fix

#328 fix: release plz embeddings
  .github/workflows/release.yml
  bindings/rust-bindings/build.rs
  bindings/rust-bindings/src/embed.rs
Labels: F-do-not-merge

#329 fix(bindings): Update Cargo.lock Files
  .github/workflows/release.yml
  bindings/rust-bindings/Cargo.lock
  bindings/rust-primitives/Cargo.lock
Labels: A-bindings, M-rust
