Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-12, with the labels that each got.

#740 Add ink sepolia
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/ink.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x05cdc823d33ac4776e393430e485dc48e88b92c970ac6f54364ff7cbede13618.bin.gz
  superchain/extra/bytecodes/0x14b5571862a59023d727569d8d1b21ce605b3e6d114af409ed31212e96caffd8.bin.gz
  superchain/extra/bytecodes/0x155f027f03f251166eeed5d2c1335274ef5182bb56e41a382ba8335b1f34a3c3.bin.gz
  superchain/extra/bytecodes/0x4a651fda86a92203e930bdc4245ede780a2d6481cb100f11dbdbd615b0254259.bin.gz
  superchain/extra/bytecodes/0x56cbe8c504010ebe7f2750c95c3b62624513908ccc7fae4f95cb73eecf312b68.bin.gz
  superchain/extra/bytecodes/0x5c4dbe3aa217acba599d1bbaf84b9e212a787cfd986b0bc8f68d838e6ba572ea.bin.gz
  superchain/extra/bytecodes/0x5e0281a66751fac13ab53bde867a8fabbb47997ef070651b2d383e25b519d35f.bin.gz
  superchain/extra/bytecodes/0x622a0162af7dbe13fb32bde03ab30d5cf91016c1786a4774114c89b936f40883.bin.gz
  superchain/extra/bytecodes/0x6c16f66e1a8c895ecec77aa895490fb721d33ffdd19b5417c7f2589c54fe8330.bin.gz
  superchain/extra/bytecodes/0x6d7dac78b1837c64a341f978d63d75716e5720757d0cf6891dca5685b9dc6976.bin.gz
  superchain/extra/bytecodes/0x9b23f811885434b869553a1c92a536465c8c2c13c71d0196a33f49bd11a0537a.bin.gz
  superchain/extra/bytecodes/0xd380ed69e3edf9d7d2aac18cd2d4c1b292b598bf7dc901825e44332b4c6912c8.bin.gz
  superchain/extra/bytecodes/0xdce9adb8e4be63da7e031fb772ee843f57161ef41fe6d6ff4323ec9651d53fca.bin.gz
  superchain/extra/genesis/sepolia/ink.json.gz
  validation/genesis/genesis-allocs_test.go
  validation/genesis/validation-inputs/763373/deploy-config.json
  validation/genesis/validation-inputs/763373/meta.toml
Labels: M-new-chain-request

#760 Alt/swell mainnet
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/swell.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x0d88359409e46626e4b7f863dfc05ce938ecb1c9dfc2bddf8df93990930fb73f.bin.gz
  superchain/extra/bytecodes/0x2a1ce74fcdc6a7cb13bed18c50ae3579c51fdd8377110c49e149bd8e13a4ea3d.bin.gz
  superchain/extra/bytecodes/0x42732d379f936e66f0830f6f011d7f7cdcea06393936fe887fc1976ca63e621c.bin.gz
  superchain/extra/bytecodes/0x5e11489e36d7aa76dceb10a9f93a9a8a5930e5580efdb9ff3fb1f13cc64b0aca.bin.gz
  superchain/extra/bytecodes/0x9a6cfaf4ce1363bcd65dca3bdffee4594581fc60d306ce42ee8a21ce79873eda.bin.gz
  superchain/extra/genesis/mainnet/swell.json.gz
  validation/genesis/validation-inputs/1923/deploy-config.json
  validation/genesis/validation-inputs/1923/meta.toml
Labels: M-new-chain-request

#768 Add consistency check for standard versions
  superchain/superchain.go
  validation/standard/init.go
  validation/standard/init_test.go
  validation/standard/standard-bytecodes.toml
  validation/standard/standard-immutables.toml
  validation/standard/standard-version-consistency_test.go
  validation/standard/standard-versions-mainnet.toml
  validation/standard/standard-versions-sepolia.toml
  validation/standard/versions.go
  validation/standard/versions_test.go
  validation/superchain-version.go
  validation/superchain-version_test.go
Labels: A-validation

#795 [add]: arena-z mainnet
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/arena-z.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x60589b78bec8494d3772d15baf1be526b70103935e44ecfc9e1d4c677c0ae62c.bin.gz
  superchain/extra/bytecodes/0x69374c71022a578ce5a5888ca73ecb66f257260538e47aa99c0053c9a939c9dd.bin.gz
  superchain/extra/bytecodes/0x84de3b02831861efe0d2f266ce0f3661abccf0503c71e4ca935b0afeb7b60238.bin.gz
  superchain/extra/bytecodes/0xd515c0ee629f7fc3caaae3eeb3d0b1c5c01a63bf9f44fc99db460e809c8a618b.bin.gz
  superchain/extra/bytecodes/0xf3a0130dd91f4dae0f7c991313effde2fa1f50c19933148f0641406b7a993069.bin.gz
  superchain/extra/genesis/mainnet/arena-z.json.gz
  validation/genesis/validation-inputs/7897/deploy-config.json
  validation/genesis/validation-inputs/7897/meta.toml
Labels: M-new-chain-request

#793 add-superseed-mainnet
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/sseed.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x61bf830e231cd547c8c6f710a906f894f5dcb2fbdb5843ae896f84fb160ba33e.bin.gz
  superchain/extra/bytecodes/0xa5f28de812f07f0b7afa7f25fdf625baa9846cc249c24da5f52afc096b706002.bin.gz
  superchain/extra/genesis/mainnet/sseed.json.gz
  validation/genesis/validation-inputs/5330/deploy-config.json
  validation/genesis/validation-inputs/5330/meta.toml
Labels: M-new-chain-request

#699 entry: redstone
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/redstone.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x301e1624e9879989f53e1d44996144e5a225695de610d56708c7ff9e67c9af3b.bin.gz
  superchain/extra/bytecodes/0x6fef32409b669766f683d7520443fbc0aae15759078a4174ae1f5f7fd0d2142e.bin.gz
  superchain/extra/bytecodes/0xb039a6c1d2eac2bf113f37d460e36b66477186b6173e6f737f011b79cc47bff7.bin.gz
  superchain/extra/genesis/mainnet/redstone.json.gz
  validation/genesis/validation-inputs/690/deploy-config.json
  validation/genesis/validation-inputs/690/meta.toml
Labels: M-new-chain-request

#794 [add]: arena-z-testnet to superchain registry
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/arena-z-testnet.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x27983dae795f2f89bdf18340a729212426edd2efbc7ef1597b76140cf452556d.bin.gz
  superchain/extra/bytecodes/0x7c41158b3f275aaeb388c71d8a5fea4ada3b3e7b4b4873a92c4599f04dae321a.bin.gz
  superchain/extra/bytecodes/0xb1b5bbb5ade451854910efb286d846ca169298de462a5b63f4cfd2115aa2b797.bin.gz
  superchain/extra/bytecodes/0xd0fd5f16dfe0d9be58ae2e7bf54bdc95b737c9a3a5a1b8f9fe7143506b163d23.bin.gz
  superchain/extra/genesis/sepolia/arena-z-testnet.json.gz
  validation/genesis/validation-inputs/9897/meta.toml
Labels: M-new-chain-request

#808 [chore]: add ink mainnet and run tests
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/mainnet/ink.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x1576b0568a7cd02ff4b9d9d880985e2fc203f4db1b91929747e682e6271d7291.bin.gz
  superchain/extra/bytecodes/0x66ca1e3e9b503a50a1fafd0a8f13c62d0587220850cb70afb415928ce64d622b.bin.gz
  superchain/extra/bytecodes/0x7822c780fd0cedfd31865cbdeb977076679574bdec13e6055ca3f4b46b549f20.bin.gz
  superchain/extra/bytecodes/0xfc5afc02cb5a67998e014fe03df3a318998600509323d4164fa54f0a3b517077.bin.gz
  superchain/extra/bytecodes/0xfed58c682088b86021101df2062147d4bcb98496589d11eb920119383c1eb41f.bin.gz
  superchain/extra/genesis/mainnet/ink.json.gz
  validation/genesis/validation-inputs/57073/deploy-config.json
  validation/genesis/validation-inputs/57073/meta.toml
Labels: F-do-not-merge, M-new-chain-request
