Repository ethereum-optimism/superchain-registry, pull requests merged in 2024-11, with the labels that each got.

#666 validation: check all contracts for correct superchainConfig()
  validation/superchain-config_test.go
Labels: F-do-not-merge

#670 Add Minato - Soneium Testnet
  chainList.json
  chainList.toml
  superchain/configs/configs.json
  superchain/configs/sepolia/minato.toml
  superchain/extra/addresses/addresses.json
  superchain/extra/bytecodes/0x5497e6c93d2c4c9ac4348a867db23eca60fe1b069acee77aaadc798d0137a8c5.bin.gz
  superchain/extra/bytecodes/0x89f8c7742962deb3ffc41d35aa1c0b5f2cc6afa6886baa8026bba0d93f9c88b1.bin.gz
  superchain/extra/bytecodes/0xcece7427897fd975c17d4eec0571a1f1df0ae89fa1ecd314969612c8c4c0cdcf.bin.gz
  superchain/extra/bytecodes/0xd11f5e6a794cc1c3f5574398b8d0b78c89412cb65200e75afb3ae774807c7c19.bin.gz
  superchain/extra/genesis/sepolia/minato.json.gz
  validation/genesis/validation-inputs/1946/deploy-config.json
  validation/genesis/validation-inputs/1946/meta.toml
Labels: M-new-chain-request

#711 validation: refactor uniqueness check
  validation/uniqueness.go
  validation/uniqueness_test.go
Labels: A-validation

#716 validation: unit test for zero values after read from standard tomls
  justfile
  validation/standard/init_test.go
  validation/standard/params.go
Labels: A-validation
